

<nav class="navbar  navbar-light bg-dark navbar-expand-lg sticky-top transbox flex-md-nowrap p-0 shadow">
  <div class="container-fluid">
    <img  class="k"  src="assets/images/logo4.jpg"/>
    <h4  style="padding-left : 5px" class="" >
      <a class="navbar-brand text-white" href="#">
        La Cigale Tabarka
      </a>
    </h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="/">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-4 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="/login"><h5>Login</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="/gallery"><h5> Gallerie </h5></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

















<div class="container py-4">
<section class="vh-200" style="background-color: #c0cdda;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-6 d-none d-md-block">
                <img src="assets/images/ch2.png"
                  alt="login form" class="" style="border-radius: 1rem 0 0 1rem; width: 550px ; height: 635px ;" />
              </div>
              <div class="col-md-6 col-lg-6 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form>
  
                    <h1 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; text-align: center;"><i> <b> Registre </b> </i></h1>
                    <div class="form-outline mb-4">
                        <input type="email" id="form2Example17" class="form-control form-control-lg" placeholder="Name" />
                      </div>
                    <div class="form-outline mb-4">
                      <input type="email" id="form2Example17" class="form-control form-control-lg" placeholder="Email address" />
                    </div>
  
                    <div class="form-outline mb-4">
                      <input type="password" id="form2Example27" class="form-control form-control-lg" placeholder="Password"/>
                    </div>
                    <div class="form-outline mb-4">
                        <input type="password" id="form2Example27" class="form-control form-control-lg" placeholder="Confirm Password"/>
                      </div>
                    <div class="pt-1 mb-4" style="text-align: center">
                      <button class="btn btn-lg btn-block" type="button" style="background-color: #879bb1;" > Registre </button>
                    </div>
  
                    <p class="mb-5 pb-lg-2" style="color: #393f81">You have an account? 
                        <a href="/login" style="color: #393f81;">Login here</a>
                    </p>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>