<nav class="navbar  navbar-light bg-dark navbar-expand-lg sticky-top transbox flex-md-nowrap p-0 shadow">
  <div class="container-fluid">
    <img  class="k"  src="assets/images/logo4.jpg"/>
    <h4  style="padding-left : 5px" class="" >
      <a class="navbar-brand text-white" href="#">
        La Cigale Tabarka
      </a>
    </h4>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="/">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav mb-4 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="/login"><h5>Login</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link  text-white" routerLink="/gallery"><h5> Gallerie </h5></a>
        </li>
      </ul>
    </div>
  </div>
</nav>




 <div class="container py-4">
  <div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <h1 style="text-align: center; color: #2b76a2 !important;"><strong style="font-variant: small-caps;">Un Tout Pour Vous Plaire </strong></h1>

    </div>
</div>
<br>
<div class="wpb_text_column wpb_content_element ">
    <div class="wpb_wrapper">
        <h4 style="text-align: center;"><strong>Une sérénité et une douceur que vous ne trouverez nulle part ailleurs</strong></h4>

    </div>
</div> 
<br>
  <div class="row" style="margin-left: 50px">
    <div class="col-lg-4 " style="margin-bottom: 50px">
        <div class="card" style="width: 20rem;">
            <img src="assets/images/chm4.jpg" class="imgk" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chambres & Suites</h5>
              <p class="card-text">Les chambres sont dotées de la climatisation, d'une télévision par satellite et d'un balcon ou d'une terrasse. Le restaurant sur place sert une cuisine traditionnelle sous forme de buffet.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 " style="margin-bottom: 50px">
            <div class="card" style="width: 20rem;">
                <img src="assets/images/rest3.png" class="imgk" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Restaurants & Bars</h5>
                  <p class="card-text"> la restauration se décline en buffet ou à la carte pour sublimer les produits du terroir sans jamais les dénaturer. Les grands classiques de la cuisine méditerranéenne et internationale sont à l’honneur. </p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 " style="margin-bottom: 50px">
                <div class="card" style="width: 20rem;">
                    <img src="assets/images/reun.png" class="imgk" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Réunions & Événements</h5>
                      <p class="card-text">Durant votre séjour à La Cigale Tabarka Hôtel – Thalasso & Spa – Golf , vous serez toujours connectés et votre travail ne s’arrêtera jamais grâce à nos services complets d’affaires.</p>
                    </div>
                  </div>
                </div>
                        <div class="col-lg-4 " style="margin-bottom: 50px">
                            <div class="card" style="width: 20rem;">
                                <img src="assets/images/spa3.jpg" class="imgk" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Thalasso & SPA</h5>
                                  <p class="card-text"> La Cigale Thalasso & SPA est l’un des plus luxueux établissements . </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-4 " style="margin-bottom: 50px">
                                <div class="card" style="width: 20rem;">
                                    <img src="assets/images/golf4.jpg" class="imgk" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Golf</h5>
                                      <p class="card-text">Fait peau neuve afin d’offrir à ses membres et aux visiteurs un parcours exceptionnel.</p>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-4 " style="margin-bottom: 50px">
                                    <div class="card" style="width: 20rem;">
                                        <img src="assets/images/stade.png" class="imgk" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Complexe Sportif</h5>
                                          <p class="card-text">Un lieu où l’exigence du plus haut niveau côtoie l’émotion au quotidien.</p>
                                        </div>
                                      </div>
                                    </div>   
</div>
 </div>
 



